<%#  primary author: anuhyag %>

<div class = "row-fluid add-space">
  <h1> Template 1 </h1>
  <div class="span12">
        <%= render partial: "templates/template1_image_text" %>
</div>

<div class = "row-fluid add-space">
  <h1> Template 2 </h1>
  <div class="span12">
        <%= render partial: "templates/template2_text_image" %>
  </div>
</div>

<div class = "row-fluid add-space">
  <h1> Template 3 </h1>
  <div class="span12">
        <%= render partial: "templates/template3_image_image" %>
  </div>
</div>

<div class = "row-fluid add-space">
  <h1> Template 4 </h1>
  <div class="span12">
        <%= render partial: "templates/template4_single_image" %>
  </div>
</div>

<div class = "row-fluid add-space">
  <h1> Template 5 </h1>
  <div class="span12">
        <%= render partial: "templates/template5_single_text" %>
  </div>
</div>