<% unless project.image.nil? %>
	<div class="imgproj" style="background-image: image-url('<%=project.image.content.url%>')">
		<i style="color:#fff;font-size:80px;" class="fa fa-trash-o"></i>

		<!--<%= image_tag(project.image.content.url alt="Sample Image", :class => "portfolio_image") %>-->
	</div>

<% else  %>
	<div class="imgproj" data-project-id=<%=project.id%>>
		<div class="delete-proj">
			<%= link_to project_path(project),{ :controller => :project, method: :delete, :id => @project, remote: true}, data: {:confirm => 'Are you sure you want to delete the project?'} do%>
				<i class="trash fa fa-trash-o" style="display:none;"></i>
			<%end%>
		</div>
	</div>
<% end  %>

<div class="proj_description outer-align" style="width:100%;height:50px;background-color:#fff">
	<div class="inner-align">
		<div style="text-align:center">
			<% unless project.title.blank? %>
				<p style="color:#78BAE2" class="proj_link"><%= link_to project.title.html_safe, project %></p>
				<% else %>
				<p style="color:#78BAE2" class="proj_link"><%= link_to "Untitled Project", project %></p>
			<% end %>
		</div>
	</div>
</div>

