
<% unless project.image.nil? %>
<div class="imgproj" style="background-image: image-url('<%=project.image.content.url%>')">
	<!--<%= image_tag(project.image.content.url alt="Sample Image", :class => "portfolio_image") %>-->
</div>
<% else  %>
	<div class="imgproj"></div>
<!-- 		<img src= <%= asset_path 'default.jpg' %> alt="Sample Image" class="img-responsive portfolio_image">
-->	<% end  %>
<div class="outer-align" style="width:100%;height:50px;background-color:#fff">
<div class="inner-align"style="text-align:center">
<% unless project.title.blank? %>
	<p><%= link_to project.title, project %></p>
	<% else %>
	<p> No Title </p>
<% end %>
<!--<% unless project.description.blank? %>
<p>
	<%= project.description[0..20].concat("...") %>
</p>
<% end %>-->
</div>
</div>
		

