<!-- Primary Author: isabella -->
<script type="text/javascript">
  <%= render 'helper.js.erb' %>
</script>
<div class="onepage-body">
  <div id="onepage" class="main">
    
      <section class="section_portfolio">
        <div class="darkenlayer"> </div>
        <div class="portfolio_buttons container" >
          <%# Use remote form to submit live changes to the project's title and description %>
          <%= form_for(@user, remote: true) do |f| %>
            <%= f.hidden_field :realname %>
            <%= f.hidden_field :bio %>
            <%= f.submit 'Save Changes', class: "btn btn-warning save_button_portfolio", disable_with: "Saving..." %>
          <% end %>
          <%= form_for(@portfolio, remote: true) do |f| %>
            <%= f.hidden_field :image_id %>
            <%= f.submit 'Save Changes', type: "hidden", class: "btn btn-warning", disable_with: "Saving..." %>
          <% end %>
          <%= link_to new_image_path, remote: true, class: "resource-select-btn", data: { target: "#resource-select-modal", toggle: "modal" } do %>
            <%= image_tag "img-icon-grey.png", class: "background_image_button_portfolio portfolio_buttons" %>
          <% end %>
        </div>
          <div style="margin-top:160px">
            <div class="container">
              <div class="row" >

            <div class="col-md-12">
              <div class="media outer-align">
                <a class="pull-left" href="#">
                  <img style="margin-top:5px" class="media-object img-rounded portfolio_user_image_big" src=<%= @portfolio.user.image_url %> alt="Sample Image">
                </a>
                <div class="media-body inner-align">
                  <div id="realname" class="usrinput medium-name name"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div style="margin-top:50px">
                <div id="bio" class="medium-blurb">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-hint bottom-hint-dark-gray" onclick ="$('.main').moveDown()" >
        <i class="fa fa-chevron-down"></i>
      </div>
      <div class="bottom-padding bottom-padding-dark-gray"></div>      
  </section>
  <%# List all the projects in image-text templates %>
  <section id="features" style="background-color:#343838;">
    <div style="margin-top:40px">
        <div class="container">
          <!--backend - specify the total number of projects, the number per row, i.e. the col-width and the number of rows, iterate through each 'row' of projects in a loop (creating approprite col -width inside the loop and for each row add a new row class)-->
          <% index = 0 %>
          <!--start the first row -->
          <div class="row">
            <% @projects.each do |project| %>
              <%= puts index %>
              <% if ((index)%3)==0 && index>1 %>
          </div>
          <div class="row" style="padding-top:40px">
              <% end %>
              <div class="col-md-4">
                <%= render partial: "projectOverview", locals: {index: index, project: project} %>
              </div>
              <% index = index +1 %>
        <% end %>
        <% if @user == current_user and @projects.length<6%>
          <div class="col-md-4 outer-align">
            <div style="text-align:center;height:200px;" class="inner-align add-proj">
              <%= link_to new_project_path,:method => "get" do%>
                <i style="font-size:200px;margin-top:10%" onclick='<%=new_project_path%>' class="add-proj fa fa-plus"></i>
              <% end %> 
              <p style="color:#78BAE2; font-size:20px"> add project</p>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>
</section>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="resource-select-modal" tabindex="-1" role="dialog" aria-labelledby="resource-select-modal-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="resource-select-modal-title">Modal title</h4>
      </div>

      <div class="modal-body" id="resource-select-modal-body">
        ...
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
 <%= render 'helper.js.erb' %>
</script>
