<!-- Primary Author: isabella -->
<script type="text/javascript">
  <%= render 'helper.js.erb' %>
</script>

<div class="onepage-body">
  <div id="onepage" class="main">
      <section class="section_portfolio">
          <%# Use remote form to submit live changes to the project's title and description %>
          <%= form_for(@user, remote: true) do |f| %>
            <%= f.hidden_field :realname %>
            <%= f.hidden_field :bio %>
            <%= f.submit 'Save Changes', class: "btn btn-warning save_button_portfolio", disable_with: "Saving..." %>
          <% end %>
      <div style="margin-top:160px">
        <div class="container">
          <div class="row" >
            <div class="col-md-12">
              <div class="media outer-align">
                <a class="pull-left" href="#">
                  <img style="margin-top:5px" class="media-object img-rounded portfolio_user_image_big" src=<%= @portfolio.user.image_url %> alt="Sample Image">
                </a>
                <div class="media-body inner-align">
                  <div id="realname" class="usrinput medium-name name"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div style="margin-top:50px">
                <div id="bio" class="medium-blurb">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-hint bottom-hint-gray" onclick ="$('.main').moveDown()" >
        <i class="fa fa-chevron-down"></i>
      </div>
    <div class="bottom-padding bottom-padding-gray">
    </div>
    </section>
    <%# List all the projects in image-text templates %>
    <section id="features" style="background-color:#ecf0f1"">
      <div style="margin-top:40px">
          <div class="container" id="projects">
              <%= render partial: "projects", locals: {user: @user, projects: @projects} %>
          </div>
      </div>
    </section>
  </div>
</div>