<div class="page-header">
    <h1>Welcome to <%= @portfolio.user.fullname %>'s Portfolio</h1>
</div>

<ul>
<% @projects.each do |project| %>
    <li><%= link_to "Project", project %></li>
<% end %>
</ul>

<%= link_to "Add Project", new_project_path, class: "btn btn-primary" %>
<br/>
<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
