<div class="hero-unit" style="background-color:#CCFF66">
	<div class="row-fluid">
		<div class="span3">
			<div class="thumbnail span12" style="border: 5px solid black;">
				<img src=<%= @portfolio.user.image_url %> alt="Sample Image">
			</div>
		</div>
		<div class="span9">
			<div class="portfolio_name">
				<h1><%= current_user.fullname%></h1>
				<h4>I am a computer science major at MIT. And I love programming. See what I have done below!</h4>
				<!-- NEED TO CHANGE THIS to == DON'T KNOW WHY IT'S DOING THIS -->
				<% if @user != current_user %>
					<%= button_to 'Create New Project', new_project_path,:method => "get", :class => "btn btn-medium button-primary" %> 
				<% end %>
			</div>
		</div>
	</div>
</div>

<%# List all the projects in image-text templates %>
<% @projects.each do |project| %>
    <div class = "row-fluid add-space">
    	<h1><%= link_to project.title, project %> </h1>
        <p> <%= project.description %> </p>
    </div>
<% end %>

<br/>
<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
