<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @description.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @description.content %>
</p>

<%= link_to 'Edit', edit_description_path(@description) %> |
<%= link_to 'Back', descriptions_path %>
