<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id ="sign_up_form" class="field">
    <%= f.text_field :fullname, :value => "Full Name" %>
  </div>

  <div id ="sign_up_form" class="field">
    <%= f.text_field :username, :value => "Username" %>
  </div>

  <div id ="sign_up_form" class="field">
    <%= f.text_field :email, :value => "Email" %>
  </div> 

  <div id ="sign_up_form" class="field">
    <%= f.password_field :password, :value => "Password" %>
  </div> 

  <div id ="sign_up_form" class="field">
    <%= f.password_field :password_confirmation, :value => "Password Confirmation" %>
  </div> 

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
