<div class="container">
<div class="span9">
    <%= bootstrap_form_for([@project, @block]) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

        <%= f.control_group :template_id, label: { text: 'Select a Template' } do %>
          <%= f.radio_button :template_id, 1, label: 'Single Resource Template',checked: true, :id=>'tid-1' %>
          <%= f.radio_button :template_id, 2, label: 'Two Resource Template',:id=>'tid-2' %>
        <% end %>

        <div id="template1-options" class="well well-sm row-fluid template-options">
            <div class="btn-group offset3 span6 single-resource">
                <a type="button" class="btn btn-default resource-select-btn" data-remote="true" data-target="#resource-select-modal" data-toggle="modal" href="<%= new_code_path %>"><%= fa_icon "code 4x" %></a>

                <a type="button" class="btn btn-default resource-select-btn" data-remote="true" data-target="#resource-select-modal" data-toggle="modal" href="<%= new_description_path %>"><%= fa_icon "align-left 4x" %></a>

                <a type="button" class="btn btn-default resource-select-btn" data-remote="true" data-target="#resource-select-modal" data-toggle="modal" href="<%= new_image_path %>"><%= fa_icon "picture-o 4x" %></a>
            </div>
        </div>

        <div style="display:none" id="template2-options" class="well well-sm template-options">
            <div class="btn-group half-width pull-left resource1">
                <a type="button" class="btn btn-default resource-select-btn" data-remote="true" data-target="#resource-select-modal" data-toggle="modal" href="<%= new_code_path %>"><%= fa_icon "code 4x" %></a>

                <a type="button" class="btn btn-default resource-select-btn" data-remote="true" data-target="#resource-select-modal" data-toggle="modal" href="<%= new_description_path %>"><%= fa_icon "align-left 4x" %></a>

                <a type="button" class="btn btn-default resource-select-btn" data-remote="true" data-target="#resource-select-modal" data-toggle="modal" href="<%= new_image_path %>"><%= fa_icon "picture-o 4x" %></a>
            </div>

            <div class="btn-group half-width pull-right resource2">
                <a type="button" class="btn btn-default resource-select-btn" data-remote="true" data-target="#resource-select-modal" data-toggle="modal" href="<%= new_code_path %>"><%= fa_icon "code 4x" %></a>

                <a type="button" class="btn btn-default resource-select-btn" data-remote="true" data-target="#resource-select-modal" data-toggle="modal" href="<%= new_description_path %>"><%= fa_icon "align-left 4x" %></a>

                <a type="button" class="btn btn-default resource-select-btn" data-remote="true" data-target="#resource-select-modal" data-toggle="modal" href="<%= new_image_path %>"><%= fa_icon "picture-o 4x" %></a>
            </div>

            <div class="clearfix"></div>
        </div>

        <div class="actions">
        <%= f.primary nil, disable_with: 'Saving...' %>
        <%= f.secondary 'Cancel' %>
        </div>

    <% end %>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="resource-select-modal" tabindex="-1" role="dialog" aria-labelledby="resource-select-modal-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="resource-select-modal-title">Modal title</h4>
      </div>

      <div class="modal-body" id="resource-select-modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script type="text/javascript">
    $(function() {
        // $(".template-options").hide();
        $('#tid-1').on("change", function(){
            $("#template2-options").toggle();
            $("#template1-options").toggle();
        });
        $('#tid-2').on("change", function(){
            $("#template1-options").toggle();
            $("#template2-options").toggle();
        });

        var clicked_resource = null;

        $(".resource-select-btn").click(function(event) {
            clicked_resource = $(this);
            console.log("Resource clicked");
            console.log(clicked_resource);
        });
    });
</script>