<!-- Primary Author: psaylor -->
<%= bootstrap_form_for([block.project, block], remote: true) do |f| %>
  <%# render 'shared/error_messages', object: f.object %>

    <%= f.hidden_field :firstres_id %>
    <%= f.hidden_field :firstres_type %>
    <%= f.hidden_field :secondres_id %>
    <%= f.hidden_field :secondres_type %>
    <%= f.hidden_field :template_id %>

    <div class="actions">
    <%= f.primary 'Save', disable_with: 'Saving...' %>
    </div>

<% end %>
