<h1>Editing block</h1>

<div class="well well-sm">
    <h2> <%= @block.id %> </h2>
    <h4>First Resource:</h4>
    <%= @block.firstres %>
    <h4>Second Resource:</h4>
    <%= @block.secondres %>

</div>

<div class="well well-lg no-padding">

    <div class="quarter-width pull-left"> 
        <div id="resource-position-left" class="well well-sm no-outer-fluff resource-position"> </div>
    </div>

    <div class="half-width pull-left"> 
        <div id="resource-position-center" class="well well-sm no-outer-fluff resource-position"> </div>
    </div>

    <div class="quarter-width pull-right"> 
        <div id="resource-position-right" class="well well-sm no-outer-fluff resource-position"> </div>
    </div>

    <div class="clearfix"></div>

</div>

<%# Draggable Resource options %>
<div class="btn-group">
    <div id="image-tag" class="btn disabled resource-tag">
        <%= fa_icon "picture-o 4x" %>
    </div>

    <div id="code-tag" class="btn disabled resource-tag">
        <%= fa_icon "code 4x" %>
    </div>

    <div id="text-tag" class="btn disabled resource-tag">
        <%= fa_icon "align-left 4x" %>
    </div>
</div>

<br/>
<%= link_to 'Show', project_block_path(@project, @block) %> |
<%= link_to 'Back', project_blocks_path %>

<script type="text/javascript">
    $(function() {
        console.log("Making resources draggable");
        var resource1 = $("#resource-1");
        var resource2 = $("#resource-2");

        $( ".resource-tag").draggable({
            revert: "invalid", // when not dropped, the item will revert back to intial position
            containment: "document",
            helper: "clone",
            cursor: "move",
        });

        $(".resource-position").droppable({
            hoverClass: "ui-state-active",
            drop: function(event, ui) {
                $(this).append(ui.draggable);
            }
        });

        $(".btn-group").droppable({
            hoverClass: "ui-state-active",
        });
    });

</script>
