<p id="notice"><%= notice %></p>


First Res: <br>
<%= @block.firstres %>
<br>
<br>
Second Res: <br>
<%= @block.secondres %>

<%= link_to 'Edit', edit_block_path(@block) %> |
<%= link_to 'Back', blocks_path %>
