<!-- Primary author: isabellat -->
<style>
</style>
<div class="onepage-body">
	<div id="onepage" class="main">
		<section id="welcome" style="position:absolute; margin-top:0;margin-bottom:0; display:block; overflow:hidden;">
			<div class = "section-inner">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="animated fadeInUp">
									<p class="welcome">prtfol.io</p>
									<p class="main-intro">Showcasing your code has never been easier.</p>
									<p class="subtitle">Get started today.</p>
									<div class="github-signin">
										<button style="margin-right:10px" type="button" onclick ="$('.main').moveTo(2)" class="btn btn-default btn-lg">Learn More</button>
										<%= link_to "Sign in with Github", signin_path, :class=>"btn btn-default btn-lg" %>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			<div class="bottom-hint bottom-hint-dark-gray" onclick ="$('.main').moveDown()" >
				<i class="fa fa-chevron-down"></i>
			</div>
			<div class="bottom-padding bottom-padding-dark-gray">
			</div>
		</section>
		<section id="features" style="background-color:#343838;">
			<div style="margin-top:20px">
				<div class='container'>
					<div class='row'>
						<p class="section-title">Features</p>
					</div>
					<div class='row'>
						<div style="margin-top:50px">
							<div class="showcase-item col-md-4">
								<div class="showcase-item-box">
									<i style="color:#fff; font-size:220px" class="fa fa-code"></i>
									<p class="feature-desc feature-desc-orange">
										Import code from github.
									</p> 
								</div>
							</div>
							<div class="showcase-item col-md-4">
								<div class="showcase-item-box">
									<i style="color:#fff; font-size:220px" class="fa fa-pencil-square-o"></i>
									<p class="feature-desc">
										Add meaningful descriptions to help explain what you did.
									</p> 
								</div>
							</div>
							<div class="showcase-item col-md-4">
								<div class="showcase-item-box">
									<i style="color:#fff; font-size:220px" class="fa fa-picture-o"></i>
									<p class="feature-desc">
										Upload images and video to bring your work to life.
									</p> 
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom-hint bottom-hint-blue" onclick ="$('.main').moveDown()" >
				<i class="fa fa-chevron-down"></i>
			</div>
			<div class="bottom-padding bottom-padding-blue">
			</div>

			
		</section>
		<section style="background-color:#78BAE2;">
			<div style="margin-top:20px">
				<div class='container'>
					<div class='row'>
						<p class="section-title-white">About Us</p>
					</div>
					<div class='row'>
						<div style="margin-top:90px">
							<div class="showcase-item col-md-3">
								<div class="showcase-item-box">
									<%= image_tag "anuhya.jpg", :mouseover => image_path("patricia.jpg"), :class=>"img-circle person-icon"%>
										<p class="person-desc">
										Hi I am Anuhya.
									</p>
								</div>
							</div>
							<div class="showcase-item col-md-3">
								<div class="showcase-item-box">
									<%= image_tag "patricia.jpg", :class=>"img-circle person-icon"%>
										<p class="person-desc">
										Hi I am Patricia.
									</p>
								</div>
							</div>			
							<div class="showcase-item col-md-3">
								<div class="showcase-item-box">
									<%= image_tag "ryan.jpg", :class=>"img-circle person-icon"%>
											<p class="person-desc">
										Hi I am Ryan.
									</p>
								</div>
							</div>	
							<div class="showcase-item col-md-3">
								<div class="showcase-item-box">
									<%= image_tag "isabella.jpg", :class=>"img-circle person-icon"%>
										<p class="person-desc">
										Hi I am Isabella.
									</p>
								</div>
							</div>		
						</div>	
					</div>
				</div>
				<div class="footer" style="height:30px; position:fixed;bottom:0px;width:100%">
					<p style="text-align:center; color:#fff; font-size:20px;"></p>
				</div>
			</div>
		</section>
	</div>
</div>

<script>
$('.main').onepage_scroll()

</script>
