<!-- Primary Author: psaylor -->
<%= bootstrap_form_for(@code, remote: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <% gist_ids = gist_ids || @gist_ids %>

    <%= f.control_group :gist_id do %>
        <% gist_ids.each do |gid| %>
            <%= f.radio_button :gist_id, gid, label: gid %>
        <% end %>
    <% end %>
  
  <div class="actions">
    <%= f.primary "Embed Gist" %>
  </div>
<% end %>
