$(document).ready(function(){
  // Add one page scroll to the project page
  $("[rel=tooltip]").tooltip();

  // Instantiate a BlockList to hold all the blocks (js representation) for this project 
  project_blocks = BlockList();

  $(".main").onepage_scroll();

  // Initialize title and description as medium editable elements, with content from project
    var proj_title_medium = new Medium({
      element: document.getElementById('proj-title'),
      mode: 'inline',
      maxLength: 40,
      placeholder: 'Project Title'
    });
    
    var proj_desc_medium = new Medium({
      element: document.getElementById('proj-description'),
      mode: 'inline',
      maxLength: 100,
      placeholder: 'Project Subtitle'
    });

    // populate the title and description fields if appropriate
    <% if can_show? @project.title %>
      $('#proj-title').html("<%= @project.title.html_safe %>");
    <% end %>

    <% if can_show? @project.description %>
      $("#proj-description").html("<%= @project.description.html_safe %>");
    <% end %>

    // save the title and description when it loses focus
    $("#proj-title").blur(function() {
      var updated_title = $(this).html();
      console.log("Updated Title: " + updated_title);
      if (proj_title_medium.isEmpty()) {
        updated_title = "";
      }
      $("#project_title").val(updated_title);
    });
    var updateProject = function() {
        $('.edit_project').submit();
        $('.saving_project').fadeIn(300, function() {
            $(this).fadeOut(300);
        });
    }
    $('.saving_project').fadeOut(0);

    $("#proj-description").blur(function() {
      var updated_description = $(this).html();
      console.log("Updated Description: " + updated_description);
      if (proj_desc_medium.isEmpty()) {
        updated_description = "";
      }
      $("#project_description").val(updated_description);

        updateProject();
    });

  update_block_with_resource = function (bid, partial, res_pos, res_type, res_id) {
    var block = project_blocks.get_block(bid);
    block.update_resource(res_pos, res_type, res_id, partial);
  };


  // Create a new section for one page scrolling
  create_section = function(new_section_html, block_id, resource_hash_opt){
    //determine how to color the section based on the index (number of sections already created)
    console.log("Creating section for block " + block_id + "...");
    // Create a js representation of a block and its resources for this section
    var loaded = resource_hash_opt? true : false;
    var block_for_section = project_blocks.create_and_add_block(block_id);

    var section_color = function(hex){
      hex = typeof hex !== 'undefined' ? hex : false;
      colors = ['dark-gray', 'gray'];
      hex_colors = ["#343838", "#ecf0f1"];
      if (hex){
        section_index = ($('section').length) % 2;
        return hex_colors[section_index];
      }
      section_index = ($('section').length + 1) % 2;
      return colors[section_index];
    }; 

    //add the chevron/down arrow and div to go down to next section
    var section = $('#onepage section:last');
    var down_chev = $('<div class="bottom-hint bottom-hint-'+ section_color()+'"><i class="fa fa-chevron-down"></i></div><div class="bottom-padding bottom-padding-'+section_color()+'"></div>');
    section.append(down_chev);
    section.find(".bottom-hint").click(function() {
      $('.main').moveDown();
    });

    //adds the section (method in jquery.onepage-scroll)
    $('.main').addSection();

    // Update section to the new last section
    section = $('#onepage section:last');

    section.css("background-color",section_color(true));

    //---Append description to the section--//
    section.append(new_section_html);
    $("#sidebar").show();

    block_for_section.on_resource_positions_ready();
    block_for_section.on_form_ready();
    
    // chosen template div
    var chosen_horizontal = $("#chosen_horizontal_" + block_id);
    var chosen_center = $("#chosen_center_" + block_id);
    var curr = null ;
    // sidebar template div
    var sidebar_horizontal = $("#chosen_sidebar_horizontal_" + block_id);
    var sidebar_center = $("#chosen_sidebar_center_" + block_id);

    var delete_icon = $("#sidebar_delete_" + block_id);

    chosen_horizontal.hide();
    chosen_center.hide();

    $(sidebar_horizontal).click(function() {
      if (curr != chosen_horizontal) {
        block_for_section.set_template(2);
        $(curr).hide();
        curr = chosen_horizontal;
        $(curr).fadeIn();
      }
      
    });

    $(sidebar_center).click(function() {
      if (curr != chosen_center) {
        $(curr).hide();
        block_for_section.set_template(1);
        curr = chosen_center;
        $(curr).fadeIn();
      }
      
    });

    $(delete_icon).click(function( event) {
      console.log("Delete called on block " + block_id);
      var section_id = section.data("index");
      $('.main').moveUp();
      $.each($('section'), function(i) {
        var index = $(this).data('index');
        if (index == section_id){
          //make the one before active
          css_style = $(this).css(['position','top','background-color']);
          console.log(css_style)   ;
          $(this).remove();
        }
        if (index > section_id){
          $(this).data('index', index -1);
          //take the styling of the previous one
          $(this).css(css_style);
          css_style = $(this).css(['position','top','background-color']);
        }
      });
      //remove one from the bottom of the ordered list
      $('ul.onepage-pagination li').last().remove();
    });


    $('.saving_project').fadeOut(0);

    if (loaded) {
      block_for_section.load(resource_hash_opt);
      var tid = resource_hash_opt.tid;
      if (tid == 1 ){
        sidebar_center.click();
      } else if (tid == 2) {
        sidebar_horizontal.click();
      } 
    } else {
      sidebar_horizontal.click();
    }

    return block_for_section;
  };

  // When the modal is hidden, rebind the mousewheel for one page scroll
  $('#resource-select-modal').on('hidden.bs.modal', function () {
      $(document).bind('mousewheel DOMMouseScroll', theOnePageBindEvent);
  });

  // Populate the project_blocks and the sections on the page with the blocks and resources already in the project
  <% 
    @project.blocks.each do |block| 
      resources = get_resources_for_template(block)
    %>
      (function() { // wrap in a function to create new namespace
        console.log("Creating new");
        var bid = "<%= block.id %>";
        console.log("Adding block " + bid);
        var res_hash = {
          tid: "<%= block.template_id %>",
          type1: "<%= block.firstres_type %>",
          id1: "<%= block.firstres_id %>",
          type2: "<%= block.secondres_type %>",
          id2: "<%= block.secondres_id %>" };
        <% unless block.firstres.nil? %>
          res_hash['partial1'] = "<%= j render block.firstres %>";
        <% end %>
        <% unless block.secondres.nil? %>
          res_hash['partial2'] = "<%= j render block.secondres %>";
        <% end %>

        var rendered_section = "<%= j render partial: 'projects/section', locals: {:block => block} %>";
        var b = create_section(rendered_section, bid, res_hash);
      })();
      
  <% end %>
         
});