<!--primary author: anuhyag -->
<%
  block
  bid = block.id
%>

<!-- template code for creating a new block in its own section on the page; this div meant to be cloned and the modified -->
<div class="margin_top">
  <div class="container block-container" id=<%= "block-#{bid}" %> data-block-id=<%= "#{bid}" %> >
    <h1 id="template_selection_heading" style="color:#a9afb4;"> Select A Template: </h1>
    <br>
    <div class="row new_block_template_choice">
      
      <!-- sets up the div representing double resource horizontal template when new block is created -->

      <div class = "col-md-4">
        <div class="template_choice_outer_square" id=<%= "horizontal-#{bid}" %> >
          <div class = "template_choice_horizontal">
          </div>
           <div class = "template_choice_horizontal">
          </div>
        </div>
      </div>
      
      <!-- sets up the div representing single resource center template when new block is created -->
      <div class = "col-md-4">
        <div class="template_choice_outer_square" id=<%= "vertical-#{bid}" %>>
          <div class = "template_choice_vertical">
          </div>
          <div class = "template_choice_vertical">
          </div>
        </div>
      </div>
      
      <!-- sets up the icon representing single resource template in sidebar -->
      <div class = "col-md-4">
        <div class="template_choice_outer_square" id=<%= "center-#{bid}" %>>
            <div class = "template_choice_center">
            </div>
        </div>
      </div>
    </div> 
    
    <div class="chosen_center" id= <%="chosen_center_#{bid}"%>>
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class = "col-md-6">
          <div class= "chosen_template_square">
             <div class="btn-group">
              <a class="resource-select-btn" data-remote="true" data-target="#resource-select-modal" data-toggle="modal" href="<%= new_code_path %>"><%= fa_icon "code 4x" %></a>

              <a class="resource-select-btn" data-remote="true" data-target="#resource-select-modal" data-toggle="modal" href="<%= new_description_path %>"><%= fa_icon "align-left 4x" %></a>

              <a class="resource-select-btn" data-remote="true" data-target="#resource-select-modal" data-toggle="modal" href="<%= new_image_path %>"><%= fa_icon "picture-o 4x" %></a>
              
              <a class=" resource-select-btn" data-remote="true" data-target="#resource-select-modal" data-toggle="modal" href="<%= new_video_path %>"><%= fa_icon "video-camera 4x" %></a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>

    <!-- show the horizontal template if you choose that -->
    <div class="chosen_horizontal" id= <%="chosen_horizontal_#{bid}"%>>
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class = "col-md-5">
          <div class="chosen_template_square">
             <div class="btn-group">
              <a class="resource-select-btn" data-remote="true" data-target="#resource-select-modal" data-toggle="modal" href="<%= new_code_path %>"><%= fa_icon "code 4x" %></a>

              <a class="resource-select-btn" data-remote="true" data-target="#resource-select-modal" data-toggle="modal" href="<%= new_description_path %>"><%= fa_icon "align-left 4x" %></a>

              <a class="resource-select-btn" data-remote="true" data-target="#resource-select-modal" data-toggle="modal" href="<%= new_image_path %>"><%= fa_icon "picture-o 4x" %></a>
              
              <a class=" resource-select-btn" data-remote="true" data-target="#resource-select-modal" data-toggle="modal" href="<%= new_video_path %>"><%= fa_icon "video-camera 4x" %></a>
            </div>
          </div>
        </div>
        <div class = "col-md-5">
          <div class="chosen_template_square">
             <div class="btn-group">
              <a class="resource-select-btn" data-remote="true" data-target="#resource-select-modal" data-toggle="modal" href="<%= new_code_path %>"><%= fa_icon "code 4x" %></a>

              <a class="resource-select-btn" data-remote="true" data-target="#resource-select-modal" data-toggle="modal" href="<%= new_description_path %>"><%= fa_icon "align-left 4x" %></a>

              <a class="resource-select-btn" data-remote="true" data-target="#resource-select-modal" data-toggle="modal" href="<%= new_image_path %>"><%= fa_icon "picture-o 4x" %></a>
              
              <a class=" resource-select-btn" data-remote="true" data-target="#resource-select-modal" data-toggle="modal" href="<%= new_video_path %>"><%= fa_icon "video-camera 4x" %></a>
            </div>
          </div>
        </div>
        <div class="col-md-1">
        </div>
      </div>
    </div>

    <div class="chosen_vertical" id= <%="chosen_vertical_#{bid}"%>>
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class = "col-md-6">
          <div class="chosen_template_square_2">
             <div class="btn-group2">
              <a class="resource-select-btn" data-remote="true" data-target="#resource-select-modal" data-toggle="modal" href="<%= new_code_path %>"><%= fa_icon "code 4x" %></a>

              <a class="resource-select-btn" data-remote="true" data-target="#resource-select-modal" data-toggle="modal" href="<%= new_description_path %>"><%= fa_icon "align-left 4x" %></a>

              <a class="resource-select-btn" data-remote="true" data-target="#resource-select-modal" data-toggle="modal" href="<%= new_image_path %>"><%= fa_icon "picture-o 4x" %></a>
              
              <a class=" resource-select-btn" data-remote="true" data-target="#resource-select-modal" data-toggle="modal" href="<%= new_video_path %>"><%= fa_icon "video-camera 4x" %></a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
        </div>
        <div class = "col-md-6">
          <div class="chosen_template_square_2">
             <div class="btn-group2">
              <a class="resource-select-btn" data-remote="true" data-target="#resource-select-modal" data-toggle="modal" href="<%= new_code_path %>"><%= fa_icon "code 4x" %></a>

              <a class="resource-select-btn" data-remote="true" data-target="#resource-select-modal" data-toggle="modal" href="<%= new_description_path %>"><%= fa_icon "align-left 4x" %></a>

              <a class="resource-select-btn" data-remote="true" data-target="#resource-select-modal" data-toggle="modal" href="<%= new_image_path %>"><%= fa_icon "picture-o 4x" %></a>
              
              <a class=" resource-select-btn" data-remote="true" data-target="#resource-select-modal" data-toggle="modal" href="<%= new_video_path %>"><%= fa_icon "video-camera 4x" %></a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>

  

    <div class="block-form row">
      <%= render :partial => "blocks/form", :locals => {:block => block} %>
    </div>
  </div>
</div> <!--  new-block-html-template
