<!-- primary author: anuhyag -->
<%
  block
  bid = block.id
%>

<!-- template code for creating a new block in its own section on the page; this div meant to be cloned and the modified -->
<div class="margin_top">
  <div class="container block-container" id=<%= "block-#{bid}" %> data-block-id=<%= "#{bid}" %> >
    <h1 style="color:#a9afb4;"> Select A Template </h1>
    <br>
    <div class="row new_block_template_choice">
      
      <!-- sets up the icon representing double resource horizontal template in sidebar -->
      <div class = "col-md-4">
        <div class="template_choice_outer_square" id=<%= "horizontal-#{bid}" %> >
          <div class = "template_choice_horizontal">
          </div>
           <div class = "template_choice_horizontal">
          </div>
        </div>
        <div class="btn-group">
          <%=link_to new_code_path(:block_id => bid), remote: true, class: "resource-select-btn", data: { target: "#resource-select-modal", toggle: "modal" } do %>
            <%= fa_icon "code 4x" %>
          <% end %>

          <%=link_to new_description_path(:block_id => bid), remote: true, class: "resource-select-btn", data: { target: "#resource-select-modal", toggle: "modal" } do %>
            <%= fa_icon "align-left 4x" %>
          <% end %>

          <%=link_to new_image_path(:block_id => bid), remote: true, class: "resource-select-btn", data: { target: "#resource-select-modal", toggle: "modal" } do %>
            <%= fa_icon "picture-o 4x" %>
          <% end %>

          <%=link_to new_video_path(:block_id => bid), remote: true, class: "resource-select-btn", data: { target: "#resource-select-modal", toggle: "modal" } do %>
            <%= fa_icon "video-camera 4x" %>
          <% end %>

      </div>
      </div>
      
      <!-- sets up the icon representing double resource vertical template in sidebar -->
      <div class = "col-md-4">
        <div class="template_choice_outer_square" id=<%= "vertical-#{bid}" %>>
          <div class = "template_choice_vertical">
          </div>
          <div class = "template_choice_vertical">
          </div>
        </div>
      </div>
      
      <!-- sets up the icon representing single resource template in sidebar -->
      <div class = "col-md-4">
        <div class="template_choice_outer_square" id=<%= "center-#{bid}" %>>
            <div class = "template_choice_center">
            </div>
        </div>
      </div>
    
    </div> 
    <div class="block-form row">
      <%= render :partial => "blocks/form", :locals => {:block => block} %>
    </div>
  </div>
</div> <!--  new-block-html-template -->