<!--primary author: anuhyag -->
<%
  block
  bid = block.id
%>

<!-- template code for creating a new block in its own section on the page-->
<div class="margin_top">
  <div class="container block-container" id=<%= "block-#{bid}" %> data-block-id=<%= "#{bid}" %> >
    <h1 id="template_selection_heading" style="color:#a9afb4;"> Select A Template: </h1>
    <br>
    <div class="row new_block_template_choice" data-block-id=<%= "#{bid}" %> >
      
      <!-- sets up the div representing double resource horizontal template when new block is created -->

      <div class = "col-md-4">
        <div class="template_choice_outer_square" id=<%= "horizontal-#{bid}" %> >
          <div class = "template_choice_horizontal">
          </div>
           <div class = "template_choice_horizontal">
          </div>
        </div>
      </div>
      
      <!-- sets up the div representing single resource center template when new block is created -->
      <div class = "col-md-4">
        <div class="template_choice_outer_square" id=<%= "vertical-#{bid}" %>>
          <div class = "template_choice_vertical">
          </div>
          <div class = "template_choice_vertical">
          </div>
        </div>
      </div>
      
      <!-- sets up the icon representing single resource template in sidebar -->
      <div class = "col-md-4">
        <div class="template_choice_outer_square" id=<%= "center-#{bid}" %>>
            <div class = "template_choice_center">
            </div>
        </div>
      </div>
    </div> 
    
    <div class="chosen_center" id= <%="chosen_center_#{bid}"%> >
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class = "col-md-6">
          <div class= "chosen_template_square" data-pos=0 >
             <%= render partial: 'projects/resourceButtons', locals: { bid: bid, res_pos: 0 } %>
          </div>
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>

    <!-- show the horizontal template if you choose that -->
    <div class="chosen_horizontal" id= <%="chosen_horizontal_#{bid}"%>>
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class = "col-md-5">
          <div class="chosen_template_square" data-pos=1 >
             <%= render partial: 'projects/resourceButtons', locals: { bid: bid, res_pos: 1 } %>
          </div>
        </div>
        <div class = "col-md-5">
          <div class="chosen_template_square" data-pos=2>
             <%= render partial: 'projects/resourceButtons', locals: { bid: bid, res_pos: 2 } %>
          </div>
        </div>
        <div class="col-md-1">
        </div>
      </div>
    </div>

    <div class="chosen_vertical" id= <%="chosen_vertical_#{bid}"%>>
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class = "col-md-6">
          <div class="chosen_template_square_2" data-pos=3>
             <%= render partial: 'projects/resourceButtons', locals: { bid: bid, res_pos: 3, div_class: "btn-group2" } %>
          </div>
        </div>
        <div class="col-md-3">
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
        </div>
        <div class = "col-md-6">
          <div class="chosen_template_square_2" data-pos=4>
             <%= render partial: 'projects/resourceButtons', locals: { bid: bid, res_pos: 4, div_class: "btn-group2" } %>
          </div>
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
  
    <!-- sidebar with different template options -->
    <div class="sidebar" id="sidebar" rel="tooltip">
      <!-- sets up the icon representing double resource vertical template in sidebar -->
      <div class="sidebar_double_horizontal" id= <%="chosen_sidebar_vertical_#{bid}"%>>
        <div class="sidebar_vertical_square">
          <div class="sidebar_vertical_smaller_square">
          </div>
          <div class="sidebar_vertical_smaller_square">
          </div>
        </div>
        <div class="block-form">
        </div>
      </div>

      <!-- sets up the icon representing double resource horizontal template in sidebar -->
      <div class="sidebar_double_vertical" id= <%="chosen_sidebar_horizontal_#{bid}"%>>
        <div class="sidebar_horizontal_square">
          <div class="sidebar_horizontal_smaller_square">
          </div>
          <div class="sidebar_horizontal_smaller_square">
          </div>
        </div>
      </div>

      <!-- sets up the div representing single resource denter template when new block is created -->
      <div class="sidebar_single_centered" id= <%="chosen_sidebar_center_#{bid}"%>>
        <div class="sidebar_center_square">
          <div class="sidebar_horizontal_smaller_square">
          </div>
        </div>
      </div>
    </div> 

    <div class="block-form row">
      <%= render :partial => "blocks/form", :locals => {:block => block} %>
    </div>
  </div>
</div> <!--  new-block-html-template
