<%# primary author: anuhyag %>
<%
  block
  bid = block.id
%>

<!-- template code for creating a new block in its own section on the page-->
<div class="margin_top">
  <div class="saving_project">saving...</div>
  <div class="container block-container" id=<%= "block-#{bid}" %> data-block-id=<%= "#{bid}" %> >
    
    <!--////////////////////////////// CHOSEN RESOURCE TEMPLATE DISPLAY //////////////////////////////////-->
    
    <!-- show the single resource centered template if you choose that -->
    <div class="chosen_center" id= <%="chosen_center_#{bid}"%> >
      <%= render partial: 'templates/template1', locals: {bid: bid, showMode: false } %>
    </div>

    <!-- show the horizontal template if you choose that -->
    <div class="chosen_horizontal" id= <%="chosen_horizontal_#{bid}"%>>
      <%= render partial: 'templates/template2', locals: {bid: bid, showMode: false } %>
    </div>

    <!-- /////////////////////////////// SIDEBAR DISPLAY /////////////////////////////////////////////////-->
   
    <!-- sidebar with different template options -->
    <div class="sidebar" id="sidebar" rel="tooltip">
      
      <div class="sidebar_delete" id = <%="sidebar_delete_#{bid}" %>>
        <%= link_to project_block_path(block.project, block), { method: :delete, remote: true} do%>
            <i class="fa fa-trash-o"></i>
        <%end%>
      </div>

      <!-- sets up the icon representing double resource horizontal template in sidebar -->
      <div class="sidebar_double_horizontal" title= "Switch to Horizontal Template" id= <%="chosen_sidebar_horizontal_#{bid}"%>>
        <div class="sidebar_horizontal_square">
          <div class="sidebar_horizontal_smaller_square">
          </div>
          <div class="sidebar_horizontal_smaller_square">
          </div>
        </div>
      </div>

      <!-- sets up the div representing single resource center template when new block is created -->
      <div class="sidebar_single_centered" title= "Switch to Single Resource Template" id= <%="chosen_sidebar_center_#{bid}"%>>
        <div class="sidebar_center_square">
          <div class="sidebar_horizontal_smaller_square">
          </div>
        </div>
      </div>

    </div> 

    <div class="block-form row">
      <%= render :partial => "blocks/form", :locals => {:block => block} %>
    </div>

  </div>
</div>
