<!-- Primary Author: psaylor -->
<div class="container">
  <div class="page-header">
    <h1>Editing Project <small><%= @project.title %> </small></h1>
  </div>

  <%= render 'form' %>

  <h4>Current Blocks</h4>

  <% @project.blocks.each do |block| %>
      <%= render block %>
  <% end %>

  <%= link_to 'Add Block', new_project_block_path(@project), class: "btn btn-warning" %>

</div>


<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>
