<!-- primary author: isabellat -->

<script type="text/javascript">
  // this js file must be included before any js file that uses its data structures
  <%= render 'blockList.js.erb' %> 
</script>

<script type="text/javascript">
  <%= render 'helper.js.erb' %>
</script>

<div class="onepage-body" >
  <div id="onepage" class="main" >
    <section class="project_header" style="background-color:#78BAE2">
        <div class="saving_project">saving...</div>
      <div class="margin_top"> 
        <div class = "paperclip_class" style ="text-align: right; margin-right: 50px; color: #343838;">
          <%=link_to project_path(:project_id => @project) do %> 
            <%= fa_icon "paperclip 4x" %>
            <br>
            view project 
          <% end %>
          <!-- <br> 
          <div class = "view_proj_label" style= "text-align: right; margin-right: 0px;">
            view <br> project
          </div> -->
        </div>
        <div class="container portfolio_name_area">
          <div class="row">
            <div class="col-md-10">
              <div class="media" style="margin-top:20px;">
                <a class="pull-left" href="#">
                  <img class="media-object img-rounded portfolio_user_image" style="width: 75px; height: 75px;" src=<%= @project.get_owner.image_url %> alt="Sample Image">
                </a>
                <div class="media-body">
                  <h1 class="media-heading name" style="margin-left:5px; color:#343838; font-weight:500;"><%= @project.get_owner.fullname%></h1>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              
              <%# Use remote form to submit live changes to the project's title and description %>
              <%= form_for(@project, remote: true) do |f| %>
                <%= f.hidden_field :title %>
                <%= f.hidden_field :description %>
                <%= f.submit 'Save Changes', type: "hidden", class: "btn btn-warning", disable_with: "Saving..." %>
              <% end %>

            </div>
            
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="title-box">
                <div id="proj-title" class="usrinput medium-title"> </div> 
                <div id="proj-description" class="usrinput medium-subtitle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<%= render 'plusBlock' %>

<!-- Modal -->
<div class="modal fade" id="resource-select-modal" tabindex="-1" role="dialog" aria-labelledby="resource-select-modal-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="resource-select-modal-title">Modal title</h4>
      </div>

      <div class="modal-body" id="resource-select-modal-body">
        ...
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

