<%#  primary author: isabellat %>
<div class="onepage-body">
  <div id="onepage" class="main">
    <section>
      <div class="container">
        <div class="row" style="margin-top:40px; margin-bottom:60px">
          <div class="col-md-10">
            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object img-rounded" src=<%= @project.get_owner.image_url %> alt="Sample Image">
              </a>
              <div class="media-body">
                <h1 style="color:#bdc3c7; font-size:80px; margin-left:20px"class="media-heading"><%= current_user.fullname%></h1>
              </div>
            </div>
        </div>
        </div>
      <div class="row">
        <div class="col-md-9">
          <div class="project_name">
            <h1 style="font-size:80px;font-size:100px"><%= @project.title %></h1>
            <h4 style="font-size:60px;font-weight:200;"><%= @project.description %></h4>        
          </div>
        </div>
        </div>
        <% if @user == current_user %>
            <%= button_to 'Edit Project', edit_project_path,:method => "get", :class => "btn btn-medium btn-primary" %> 
        <% end %>
        </div>
      </section>
    <% @project.blocks.each do |block| %>
    <section>
      <div class="container">
        <%= render block %>
      </div>
    </section>
    <% end %>
</div>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
</div>
