<%#  primary author: isabellat %>
<div class="onepage-body">
  <div id="onepage" class="main">
    <section>
      <div class="container">
        <div class="row person-section">
          <div class="col-md-10">
            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object img-rounded" src=<%= @project.get_owner.image_url %> alt="Sample Image">
              </a>
              <div class="media-body">
                <h1 class="media-heading name"><%= @portfolio.user.fullname%></h1>
              </div>
            </div>
        </div>
        </div>
      <div class="row">
        <div class="col-md-9">
          <div class="project_name">
            <h1 class="project_title"><%= @project.title %></h1>
            <h4 class="project_subtitle" ><%= simple_format(@project.description) %></h4>        
          </div>
        </div>
        </div>
        <% if @user == current_user %>
            <%= button_to 'Edit Project', edit_project_path,:method => "get", :class => "btn btn-medium btn-primary" %> 
        <% end %>
        </div>
      </section>
    <% @project.blocks.each do |block| %>
    <section>
      <div class="container">
        <%= render block %>
      </div>
    </section>
    <% end %>
</div>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
</div>
