<%#  primary author: isabellat %>
<script type="text/javascript">
  <%= render 'helper.js.erb' %>
</script>

<div class="onepage-body">
  <div id="onepage" class="main">
    <section style="background-color:#2c3e50">
      <div class="margin_top">
        <div class="container">

          <div class="row">
            <div class="col-md-10">
              <div class="media" style="margin-top:20px">
                <a class="pull-left" href="#">
                  <img class="media-object img-rounded portfolio_user_image" src=<%= @project.get_owner.image_url %> alt="Sample Image">
                </a>
                <div class="media-body">
                  <h1 class="media-heading name"><%= current_user.fullname%></h1>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <%# Use remote form to submit live changes to the project's title and description %>
              <%= form_for(@project, remote: true) do |f| %>
                <%= f.hidden_field :title %>
                <%= f.hidden_field :description %>
                <%= f.submit 'Save Changes', class: "btn btn-warning", disable_with: "Saving..." %>
              <% end %>
            </div>
            
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="title-box">
                <div id="proj-title" class="usrinput medium-title"> </div> 
                <div id="proj-description" class="usrinput medium-subtitle"></div>
              </div>
            </div>
          </div>
          <p id="add_block_btn" class="add_block_btn" onclick="create_section()"><i style='font-size:60px' class='fa fa-plus'></i><br> block</p>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- template code for creating a new block in its own section on the page; this div meant to be cloned and the modified -->
<div id='new-block-html-template' class="margin_top">
  <div class="container">
    <br>
    <div class="sidebar">
      1
    </div>
    <div class="row new_block_template_choice" id = "new_block_template_choice">
      <div class = "col-md-4">
        <div class="outer_square">
          <div class = "horizontal">
            hi1
          </div>
        </div>
      </div>
      <div class = "col-md-4">
        <div class="outer_square">
          <div class = "vertical">
            hi2
          </div>
        </div>
      </div>
      <div class = "col-md-4">
        <div class="outer_square">
          <div class = "center">
            hi3
          </div>
        </div>
      </div>
    </div> 
    <div class="row">
      <div class="col-md-8 usrinput article medium-description">
      </div>
    </div>
  </div>
</div>
