<div class="page-header">
    <h1> <%= @project.title %> <small> <%= @project.description %></small></h1>
</div>


<%= render @project.blocks, locals: {project: @project } %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
