<%#  primary author: isabellat %>
<div class="onepage-body">
  <div id="onepage" class="main">
    <section style="background-color:#2c3e50">
      <div style="margin-top:20px">
        <div class="container">

          <div class="row">
            <div class="col-md-10">
              <div class="media" style="margin-top:20px">
                <a class="pull-left" href="#">
                  <img class="media-object img-rounded portfolio_user_image" src=<%= @project.get_owner.image_url %> alt="Sample Image">
                </a>
                <div class="media-body">
                  <h1 class="media-heading name"><%= current_user.fullname%></h1>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <%# Use remote form to submit live changes to the project's title and description %>
              <%= form_for(@project, remote: true) do |f| %>
                <%= f.hidden_field :title %>
                <%= f.hidden_field :description %>
                <%= f.submit 'Save Changes', class: "btn btn-warning", disable_with: "Saving..." %>
              <% end %>
            </div>
            
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="title-box">
                <div id="proj-title" class="usrinput medium-title"> </div> 
                <div id="proj-description" class="usrinput medium-subtitle"></div>
              </div>
            </div>
          </div>
          <p id="add_block_btn" class="add_block_btn" onclick="create_section()"><i style='font-size:60px' class='fa fa-plus'></i><br> block</p>
        </div>
      </div>
    </section>
  </div>
</div>

<script>
  $(document).ready(function(){
    //------Add description div for medium editing-----//
    description = function(){
          num_sections = $('section').length
          return '<h1> Please Choose A Template For This Block: </h1><br><div class = "new_block_template_choice" id = "new_block_template_choice"><div class = "col-md-4"><div class="thumbnail"><%= image_tag "center.png"%></div></div><div class = "col-md-4"><div class="thumbnail"><%=image_tag "horizontal.png"%></div></div><div class = "col-md-4"><div class="thumbnail"><%= image_tag "vertical.png"%></div></div></div><div class="container"><div class="row"><div id="description-'+(num_sections) + '" class="usrinput article medium-description"></div></div></div>'
        }
    ////////////////////


      $(".main").onepage_scroll();
      create_section = function(){
        //determine how to color the section based on the index (number of sections already created)
        section_color = function(hex){
          hex = typeof hex !== 'undefined' ? hex : false;
          colors = ['gray', 'white']
          hex_colors=["#ecf0f1", "#fff"]
          if (hex){
            section_index = ($('section').length) % 2
            return hex_colors[section_index]
          }
          section_index = ($('section').length + 1) % 2
          return colors[section_index]
        }
        //add the chevron/down arrow and div to go down to next section
        $('#onepage section:last').append('<div class="bottom-hint bottom-hint-'+ section_color()+'"><i class="fa fa-chevron-down"></i></div><div class="bottom-padding bottom-padding-'+section_color()+'"></div>')

        //adds the section (method in jquery.onepage-scroll)
        $('.main').addSection()
        
        $('#onepage section:last').css("background-color",section_color(true))
        
        //---Append description to the section--//
        $('#onepage section:last').append(description())

        //----Append the 'add section' button to end of section--//
        $('#onepage section:last').append('<p id="add_block_btn" style="position:absolute;bottom:0;right:0; padding:30px 40px"class="add_block_btn" onclick="create_section()"><i style="font-size:60px" class="fa fa-plus"></i><br>block</p>')
        //////////////

        //creates new medium section when you click 'add_secton'
           new Medium({
              element: document.getElementById('description-' + (num_sections)),
                mode: 'rich',
              maxLength: 200,
              placeholder: 'Enter your description here'
            });
        }
         
        //initializes the title and subtitle as medium editable elements
        var proj_title_medium = new Medium({
          element: document.getElementById('proj-title'),
          mode: 'inline',
          maxLength: 30,
          placeholder: 'Project title'
        });
        
        var proj_desc_medium = new Medium({
          element: document.getElementById('proj-description'),
          mode: 'partial',
          maxLength: 100,
          placeholder: 'Project subtitle'
        });

        // populate the title and description fields if appropriate
        <% if can_show? @project.title %>
          $('#proj-title').html("<%= @project.title.html_safe %>");
        <% end %>

        <% if can_show? @project.description %>
          $("#proj-description").html("<%= @project.description.html_safe %>");
        <% end %>

        // save the title and description when it loses focus
        $("#proj-title").blur(function() {
          var updated_title = $(this).html();
          console.log("Updated Title: " + updated_title);
          if (proj_title_medium.isEmpty()) {
            updated_title = "";
          }
          $("#project_title").val(updated_title);
        });

        $("#proj-description").blur(function() {
          var updated_description = $(this).html();
          console.log("Updated Description: " + updated_description);
          if (proj_desc_medium.isEmpty()) {
            updated_description = "";
          }
          $("#project_description").val(updated_description);
        });
      });
    </script>
