<!-- primary author: isabellat -->
<script type="text/javascript">
  <%= render 'helper.js.erb' %>
</script>

<div class="onepage-body">
  <div id="onepage" class="main">
    <section style="background-color:#2c3e50">
      <div class="margin_top">
        <div class="container">
          <div class="row">
            <div class="col-md-10">
              <div class="media" style="margin-top:20px">
                <a class="pull-left" href="#">
                  <img class="media-object img-rounded portfolio_user_image" src=<%= @project.get_owner.image_url %> alt="Sample Image">
                </a>
                <div class="media-body">
                  <h1 class="media-heading name"><%= current_user.fullname%></h1>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <%# Use remote form to submit live changes to the project's title and description %>
              <%= form_for(@project, remote: true) do |f| %>
                <%= f.hidden_field :title %>
                <%= f.hidden_field :description %>
                <%= f.submit 'Save Changes', class: "btn btn-warning", disable_with: "Saving..." %>
              <% end %>
            </div>
            
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="title-box">
                <div id="proj-title" class="usrinput medium-title"> </div> 
                <div id="proj-description" class="usrinput medium-subtitle"></div>
              </div>
            </div>
          </div>
          <a id="add_block_btn" class="add_block_btn" data-remote="true" href="<%= new_project_block_path @project %>"><i style='font-size:60px' class='fa fa-plus'></i><br> block</a>
        </div>
      </div>
    </section>
  </div>
</div>

<!-- sidebar with different template options -->
<div class="sidebar">

  <!-- sets up the div representing double resource horizontal template when new block is created -->
  <div class="sidebar_double_horizontal">
    <div class="sidebar_vertical_square">
      <div class="sidebar_vertical_smaller_square">
      </div>
      <div class="sidebar_vertical_smaller_square">
      </div>
    </div>
    <div class="block-form"></div>
  </div>

  <!-- sets up the div representing double resource vertical template when new block is created -->
  <div class="sidebar_double_vertical">
    <div class="sidebar_horizontal_square">
      <div class="sidebar_horizontal_smaller_square">
      </div>
      <div class="sidebar_horizontal_smaller_square">
      </div>
    </div>
  </div>

  <!-- sets up the div representing single resource center template when new block is created -->
  <div class="sidebar_single_centered">
    <div class="sidebar_center_square">
      <div class="sidebar_horizontal_smaller_square">
      </div>
    </div>
  </div>

</div> <!-- sidebar -->

<!-- Modal -->
<div class="modal fade" id="resource-select-modal" tabindex="-1" role="dialog" aria-labelledby="resource-select-modal-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="resource-select-modal-title">Modal title</h4>
      </div>

      <div class="modal-body" id="resource-select-modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

