<!--  Primary Author: anuhyag -->
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
      <nav>
        <ul class="nav pull-right">
		<% if signed_in? %>
			<li><%= link_to "Portfl.io", @current_user, id: "logo" %><li>
			<li><%= link_to "Features", users_path %></li>
			<li><%= link_to "About Us", users_path %></li>
			<li><%= link_to "Sign out", signout_path, method: "delete" %></li>
		<% else %>
			<li><%= link_to "Portfl.io", @current_user, id: "logo" %><li>
			<li><%= link_to "Features", users_path %></li>
			<li><%= link_to "About Us", users_path %></li>
			<li><%= link_to "Sign In", signin_path %></li>
		<% end %>
        </ul>
      </nav>
    </div>
</header>



