<!--  Primary Author: anuhyag -->

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-inner">
        <%# put the brand name and logo on the left %>
        <ul class="nav navbar-nav">
            <li><a class="navbar-brand" href="#"> <%= fa_stacked_icon "code", base: "folder-open-o" %> Portfl.io</a></li>
            <li><%= link_to "Features", root_path %></li>
            <li><%= link_to "About Us", root_path %></li>
        </ul>

        <%# show different links based on signed in status %>
        <ul class="nav navbar-nav pull-right">
            <% if signed_in? %>                
                <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
            <% else %>
                <li><a href= <%= signin_path %> > <%= fa_icon "user" %> Sign In</a></li>
            <% end %>
        </ul>
        
    </div>
</nav>
