<!-- # Primary Author: anuhyag -->
<!DOCTYPE html>
<html>
    <head>
        <title>Portfl.io</title>
        <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= yield :javascript_includes %>
        <%= csrf_meta_tags %>

        <!-- Using Code Formatting from https://github.com/blairvanderhoof/gist-embed -->
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/gist-embed/1.3/gist-embed.min.js"></script>

        
    </head>
</head>
<body>

    <%= render 'layouts/header' %>

    <%# helpful place to show flashes at the top of the container %>
    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <%= yield %>

    <%# show the params only in development environments %>

    <%= render 'layouts/footer' %>

    <script type="text/javascript" >
        SyntaxHighlighter.defaults['toolbar'] = false;
        SyntaxHighlighter.defaults['smart-tabs'] = false;
        SyntaxHighlighter.all(); 
    </script>
</body>
</html>
